# Frontend (React/Vite)
DiaNhac/node_modules/
DiaNhac/dist/
DiaNhac/dist-ssr/
DiaNhac/*.local
DiaNhac/.eslintcache
DiaNhac/npm-debug.log*
DiaNhac/yarn-debug.log*
DiaNhac/yarn-error.log*
DiaNhac/pnpm-debug.log*

# Backend (PHP)
# Bỏ qua các file cấu hình chứa thông tin nhạy cảm (Mật khẩu DB, App Password Google)
api/config/mail_config.php
api/config/database.php

# Composer (nếu sau này có dùng)
api/vendor/
composer.phar

# Môi trường hệ điều hành & IDE (Code Editor)
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log

# File zip tải PHPMailer cũ
api/phpmailer.zip
